.navbar {
  height: 48px;
  box-shadow: var(--shadow-divider);

  padding: 0 8px;

  display: flex;
  align-items: center;

  .page-title {
    height: 24px;
    display: flex;
    align-items: center;
    .hash-symbol {
      margin: 0 8px;
      font-weight: lighter;
      div {
        height: 19px;
        width: 19px;
        .hash-svg {
          height: 19px;
          width: 19px;
          color: var(--text-muted);
        }
      }
    }
    .title-text {
      color: var(--text-white);
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
    }
  }
}
