.sidebar {
  background: var(--background-secondary);
  border-radius: 10px 0 0 0;
  width: 240px;
  height: 100vh;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  /* For later use with expand/contract */
  transition: width 150ms ease-in-out;

  .sidebar-header {
    padding: 0 16px;
    height: 48px;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: var(--shadow-divider);
    transition: background 150ms ease-in-out;
    border-radius: 10px 0 0 0;

    &:hover {
      background: var(--background-modifier-hover);
    }

    h1 {
      font-size: 14px;
      font-weight: 600;
    }

    i {
      font-size: 15px;
      margin-top: 2px;
      margin-left: auto;
    }
    .sidebar-dropdown-arrow {
      height: 18px;
      width: 18px;

      .dropdown-icon {
        width: 100%;
        height: 100%;
      }
    }
  }
}
