.sidenav {
  width: 72px;
  padding-top: 12px;
  background: var(--background-tertiary);

  .sidenav-project-list {
    width: 100%;

    .sidenav-project {
      display: flex;
      justify-content: center;
      position: relative;
      margin-bottom: 8px;

      .project-hover-target {
        width: 48px;
        height: 48px;
        overflow: hidden;

        &:hover {
          img,
          .profile-image {
            border-radius: 15px;
          }

          .project-pill-wrapper .project-hover-indicator {
            height: 20px;
            width: 8px;
          }
        }

        .project-pill-wrapper {
          height: 48px;
          width: 8px;
          position: absolute;
          top: 0;
          left: 0px;

          display: flex;
          align-items: center;

          .project-hover-indicator {
            background: var(--text-white);
            border-radius: 4px;
            height: 0;
            width: 0;
            margin-left: -4px;

            transition: all 150ms ease-out;
          }
        }

        .profile-image {
          background: var(--discord-blue);
          color: var(--text-white);
          align-items: center;
          display: flex;
          font-weight: 600;
          justify-content: center;
        }

        img,
        .profile-image {
          cursor: pointer;
          width: 100%;
          height: 100%;
          border-radius: 50%;
          transition: border-radius 150ms ease-out;
        }
      }
    }

    .sidenav-project.active {
      img,
      .profile-image {
        border-radius: 15px;
      }

      .project-pill-wrapper .project-hover-indicator {
        height: 36px !important;
        width: 8px !important;
      }
    }

    .sidenav-project-separator {
      height: 2px;
      width: 32px;
      border-radius: 1px;
      background-color: var(--background-modifier-accent);
    }
  }
}
