:root {
  /* Fonts */
  --title-font-size: 1.5rem;
  /* --title-font: 'Roboto', sans-serif; */
  --title-font: 'Open Sans', sans-serif;
  --body-font: 'Open Sans', sans-serif;

  /* Colors */
  --text-white: #ffffff;
  --text-normal: #dcddde;
  --text-muted: #72767d;
  --discord-blue: #7289da;

  /* Discord style theme */
  --background-primary: #36393f;
  --background-secondary: #2f3136;
  --background-secondary-alt: #292b2f;
  --background-tertiary: #202225;
  --background-accent: #4f545c;
  --background-floating: #18191c;
  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79, 84, 92, 0.16);
  --background-modifier-accent: hsla(0, 0%, 100%, 0.06);

  /* Borders */
  --normal-radius: 5px;
  --thin-border: 1px solid var(--light-gray);
  --dark-thin-border: 1px solid var(--dark-gray);

  /* Spacing */
  --container-padding: 1rem 2rem;

  /* Shadows */
  --shadow-small: 0 0 2px gray;
  --shadow-divider: rgba(4, 4, 5, 0.2) 0px 1px 0px 0px,
    rgba(6, 6, 7, 0.05) 0px 1.5px 0px 0px, rgba(4, 4, 5, 0.05) 0px 2px 0px 0px;
}

* {
  box-sizing: border-box;
  font-family: var(--body-font);
  font-weight: lighter;
}

p,
div h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
.title-role {
  color: var(--text-white);
  font-family: var(--title-font);
}

.icon-light {
  color: var(--text-white);
}

body {
  background: var(--background-tertiary);
}
